* {
    box-sizing: border-box;
}

body{
    margin: 0 0;
    margin-top: 0;
    background-image: url("argyle pattern.png");
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    padding: 0;;
}
.site-header {
    background-color: #7498D1;
}

nav {
    background-color: #7498D1;
    color: white;
}


nav h1{
    font-family: roboto mono;
    font-size: 2em;
    color: white;
}

nav h1 a{
    text-decoration: none;
    color: #FFFFFF;

}

nav h1 a:hover{
    color:rgb(228, 238, 255);
    text-decoration: none;
}



.stars {
    width: 100px;
}

nav ul li a{  
   
    height: 50px;
    padding: 15px;
    text-decoration: none;
    font-family: roboto;
    color:#ffffff;
    font-size: 20px;
    margin: 0 .7em;    

    
}


nav ul li a:visited{
    color: #FFFFFF;
}

nav ul li a:hover{
    color:rgb(228, 238, 255);
    transition-delay: .2s;
}

.fas {
    color: white;
}

.fas:hover {
    color:rgb(228, 238, 255);

}

.cardBackground {
    background-color: white;
    margin: 3em;
    padding: 0 1em 1em;
    border: #7498D1;
    border-style: solid;
    box-shadow: 5px 5px 20px #7498D1;
}

.card {
    margin: 1em 0;
    padding: 0;
    border: none;
}

.cardHolder {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 250px;
}

.pic {
    width: 100%;

}

.photoTitle {
    text-align: center;
    font-family: roboto mono;
    color:  #262B53;
    align-self: center; 
    margin: .7em 0;
}
