* {
    box-sizing: border-box;
}

body{
    margin: 0 0;
    margin-top: 0;
    background-image: url("argyle pattern.png");
    font-family: 'Roboto', sans-serif;
    color: #262b53;
}


.wrapper {
    padding: 0;;
}
.site-header {
    background-color: #7498D1;
}

nav {
    background-color: #7498D1;
    color: white;
}


nav h1{
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 2.5em;
    color: white;
    margin: 0;
}

nav h1 a{
    text-decoration: none;
    color: #FFFFFF;

}

nav h1 a:hover{
    color:rgb(228, 238, 255);
    text-decoration: none;
}

.navbar-toggler {
    margin: 0;
}

.stars {
    width: 100px;
}

nav ul li a{  
   
    height: 50px;
    padding: 15px;
    text-decoration: none;
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    color:#ffffff;
    font-size: 1.5em;
    margin: 0 .7em;    

    
}


nav ul li a:visited{
    color: #FFFFFF;
}

nav ul li a:hover{
    color:rgb(228, 238, 255);
    transition-delay: .2s;
}

.fas {
    color: white;
}

.fas:hover {
    color:rgb(228, 238, 255);

}

.cardBackground {
    background-color: white;
    margin: 3em;
    padding: 0 1em 1em;
    /* border: #7498D1;
    border-style: solid; */
    border-radius: 10px;
    
}

.card {
    margin: 1em 0;
    padding: 0;
    border: none;
}

.cardHolder {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 250px;
}

.pic {
    width: 100%;
    cursor: auto;
}


.photoTitle {
    text-align: center;
    color: #262b53;
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    align-self: center; 
    margin: .7em 0;
}
